.App {
  text-align: center;
  background-color: #ffffff;
  min-width: 320px;
  font-family: "Julius Sans One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rock Salt", cursive;
}
