.App {
  text-align: center;
  background-color: rgb(155, 39, 39);
  min-width: 320px;
  font-family: "Julius Sans One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rock Salt", cursive;
}
