.App {
  text-align: center;
  background: rgb(78,5,190);
  background: linear-gradient(0deg, #4e05be 0%, #a3abfe 100%);
  min-width: 320px;
  max-width: 728px;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow: hidden; 
  box-sizing: border-box;
}

