footer {
  display: flex;
  justify-content: center;
  height: 90px;
}
.text-footer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", cursive;
}

.name-footer {
  font-family: "Rock Salt";
  width: 175px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

@media (max-width: 425px) {
  .name-footer {
    font-size: 10px;
  }
}
