footer {
  display: flex;
  justify-content: center;
  height: 90px;
}
.text-footer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Julius Sans One", cursive;
  font-weight: 600;
}

.name-footer {
  font-family: "Rock Salt", curisive;
  width: 175px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

@media (max-width: 425px) {
  .name-footer {
    font-size: 10px;
  }
}
