header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
<<<<<<< HEAD
  height: 100px;
=======
  height: 10vh;
>>>>>>> d0e2bb3184047a525ccb004cfcd8a7241bf24d58
}

header p{
  display: flex;
  align-items:flex-end;
  font-family: "Rubik Glitch";
  font-size: 35px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-left: 30px;
}

@media (max-width: 425px) {
  header p{
    margin-left: 0px;
    margin-bottom: 10px;
  }

  header{
    flex-direction: column;
    margin-bottom: 20px;
  }
  
}
