button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 90px;
  height: 25px;
  border-radius: 10px;
}
.btn-in {
  background: rgb(238, 140, 42);
  background: linear-gradient(
    86deg,
    rgba(238, 140, 42, 1) 22%,
    rgba(97, 29, 253, 1) 81%
  );
  color: white;
}

.btn-out {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.Log {
  height: 70px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  flex-direction: row-reverse;
}

.logo-logout {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}
