button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 20px;
}
.btn-in {
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: rgb(212, 196, 196);
  cursor: pointer;
  font-family: "Rock Salt";
}

.btn-out {
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: rgb(212, 196, 196);
  cursor: pointer;
  font-family: "Rock Salt";
}

.Log {
  height: 70px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  flex-direction: row-reverse;
}

.logo-logout {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}
