.App {
  background-color: #faf0e4;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.title-lofi {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-family: "Rock Salt", cursive;
  font-size: 12px;
}

.boy {
  background: #9bced28c;
}
.girl {
  background: #ff855185;
}
.lofilogo {
  display: flex;
  width: 30px;
  margin-right: 10px;
}

/* Input Volume */
.Volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
.Girl::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* Track */
.Girl::-webkit-scrollbar-track {
  background-color: rgba(114, 112, 112, 0.048);
  border-radius: 10px;
}

/* Handle */
.Girl::-webkit-scrollbar-thumb {
  background: #ff855185;
  border-radius: 10px;
}

/* width */
.Boy::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* Track */
.Boy::-webkit-scrollbar-track {
  background-color: rgba(114, 112, 112, 0.048);
  border-radius: 10px;
}

/* Handle */
.Boy::-webkit-scrollbar-thumb {
  background: #9bced28c;
  border-radius: 10px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;

  cursor: pointer;
  width: 200px;
  height: 13px;
  overflow: hidden;
  border-radius: 15px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(114, 112, 112, 0.164);
  border-radius: 20px;
  height: 13px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.75px; /* Centers thumb on the track */
  background-color: #faf0e4;

  border-radius: 54px;
  height: 14px;
  width: 13px;
  box-shadow: -407px 0 0 400px #070707;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: -407px 0 0 400px #1ed760;
  background-color: #faf0e4;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  height: 5px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 20px;
  height: 6.5px;
  width: 9px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid #000000;
  outline-offset: 0.125rem;
}

.container-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-logovolume {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logovolume {
  height: 17px;
  width: 17px;
}
