.main2{
  height: 80vh;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0; 
  position: relative;
  height: 60vh;
}

.container img {
  z-index: 2;
  width: 340px;
  height: auto;
  position: absolute;
  bottom: -10;
  max-height: 566px;
}

/* Effet Glitch */
.container::before,
.container::after {
z-index: 0;
  width: 364px; 
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/png/men.png') no-repeat center center;
  background-size:cover;
  mix-blend-mode:difference;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  filter: blur(10px);
}

.container::before {
  left: 170px;
  animation: glitch1 1.5s infinite;
  animation: blur 2s infinite alternate-reverse;
}

.container::after {
  left: 190px;
  animation: glitch2 1.5s infinite;
  animation: blur1 2s infinite alternate-reverse;
}
@keyframes blur {
  50% {
    filter: blur(20px);
    transform: skew(5deg);
  }
}
@keyframes blur1 {
  50% {
    filter: blur(20px);
    transform: skew(-5deg);
  }
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-1px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(1px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch1 {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  20% {
    transform: translate(-2px, 2px);
    clip-path: inset(10px 0 10px 0);
  }
  40% {
    transform: translate(-2px, -2px);
    clip-path: inset(20px 0 20px 0);
  }
  60% {
    transform: translate(2px, 2px);
    clip-path: inset(10px 0 10px 0);
  }
  80% {
    transform: translate(2px, -2px);
    clip-path: inset(5px 0 5px 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes glitch2 {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  25% {
    transform: translate(4px, 0);
    clip-path: inset(15px 0 15px 0);
  }
  50% {
    transform: translate(-4px, 0);
    clip-path: inset(30px 0 30px 0);
  }
  75% {
    transform: translate(4px, 4px);
    clip-path: inset(15px 0 15px 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}


.container-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 10vh;

}

.social-link img {
  max-width: 100%;
  height: auto;
  cursor: pointer;

}

.container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.description, .description2 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin: 0 40px;
  color: rgb(0, 0, 0);
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 100px;
  color: #be0519;
}

@media  screen and (max-width:720px) {
  .container::before,
  .container::after {
    left: 13.5%;
  }
 
}

